# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/builds
.exobase
archive.zip

# Ignore the older builder packages
**/packages/exo-*
**/packages/exo_deployment_*
**/context.json

# Deployments working directory
/deployments/
/logs/
env.sh

# dependencies
**/node_modules
**/.pnp
**.pnp.js

# testing
**/coverage

# build dirs
**/.next/
**/out/
**/dist
**/build

# misc
**/.DS_Store
**/*.pem

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*